.arrange {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  li {
    display: flex;
    width: 16px;
    height: 16px;
    margin-left: 1px;
    font-size: 10px;
    color: #cecece;
    cursor: pointer;
    background-color: #f2f2f2;
    align-items: center;
    justify-content: center;

    &.active {
      color: #fff;
      background-color: #bfbfbf;
    }
  }
}
