.arrange {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  li {
    display: flex;
    width: 16px;
    height: 16px;
    margin-left: 1px;
    font-size: 10px;
    color: $ccecece;
    cursor: pointer;
    background-color: $cf2f2f2;
    align-items: center;
    justify-content: center;

    &.active {
      color: $cfff;
      background-color: $cbfbfbf;
    }
  }
}
