// ;

// login
.login {
  width: 350px;
  height: 530px;

  // 验证码登录
  .qrcode {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0 60px;

    h2 {
      font-size: 24px;
      font-weight: 500;
    }

    .qr {
      position: relative;
      width: 90%;
      height: 210px;
      margin-top: 12px;
      overflow: hidden;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      border-radius: 8px;

      .failure {
        display: flex;
        width: 196px;
        height: 100%;
        margin: 0 auto;
        font-weight: bold;
        color: $cfff;
        background-color: rgba($color: $c000, $alpha: 0.8);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;

        button {
          padding: 8px 12px;
          margin-top: 10px;
          cursor: pointer;
          background-color: #0c73c2;
          border: none;
          border-radius: 4px;
          outline: none;
        }
      }

      .success {
        position: absolute;
        bottom: 30px;
        width: 100%;
        text-align: center;
      }
    }

    .title {
      padding-top: 4px;

      span {
        color: $color;
        cursor: pointer;
      }
    }

    .switch {
      padding-top: 90px;
      font-size: 12px;
      color: #7d7d7d;
      cursor: pointer;
    }
  }

  // 密码登录
  .pwd {
    position: relative;
    padding-top: 44px;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      width: 0;
      height: 0;
      border-color: #f0f0f0 transparent transparent #f0f0f0;
      border-style: solid;
      border-width: 24px;
      content: '';
    }

    .qr {
      position: absolute;
      top: 4px;
      left: 4px;
      z-index: 1;
      width: 40px;
      height: 40px;
      cursor: pointer;
      background: url('~@images/icon-qr.png') center center / contain no-repeat;
    }

    .bg {
      width: 100%;
      height: 140px;
      background: url('~@images/bg1.png') center center / contain no-repeat;
    }

    .form {
      padding: 0 46px;
    }

    .forget {
      font-size: 12px;
      color: #bababa;
      cursor: pointer;
    }

    .registerBtn {
      margin-top: 16px;
      color: $c333;
      text-align: center;
      text-decoration: underline;
      cursor: pointer;
    }

    ul {
      display: flex;
      padding: 16px 46px 0;
      align-items: center;
      justify-content: space-between;

      li {
        display: flex;
        width: 40px;
        height: 40px;
        color: $cfff;
        background-color: $color;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

:global {
  .ant-input {
    &::placeholder {
      font-size: 12px;
    }
  }

  .ant-row:nth-child(3) {
    margin: 0;
    font-size: 12px !important;
    line-height: 1;
  }

  .ant-tooltip {
    .ant-tooltip-arrow-content {
      background-color: $c989898;
    }

    .ant-tooltip-inner {
      min-height: auto;
      padding: 4px;
      font-size: 12px !important;
      line-height: 1;
      background-color: $c989898;
    }
  }
}
