.radio {
  font-size: 12px;

  &.row {
    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 80px;
      padding: 0 30px;

      &:nth-child(even) {
        background-color: $cf9f9f9;
      }

      &:nth-child(odd) {
        background-color: $cfff;
      }

      &:hover {
        background-color: $cf0f1f2;
      }

      .content {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        flex: 2;

        img {
          width: 60px;
          height: 60px;
        }

        p {
          padding-left: 10px;
        }
      }

      .artist {
        display: flex;
        align-items: center;
        flex: 1;
        height: 100%;
        color: $c9f9f9f;

        &:hover {
          color: #616162;
          cursor: pointer;
        }

        span {
          padding-right: 10px;
          color: #cfcfdf;
        }
      }
    }
  }

  &.col {
    background-color: red;
  }
}
