.menu {
  padding: 12px 6px 12px 12px;

  li {
    padding: 0 0 0 8px;
    overflow: hidden;
    font-size: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 2px;
    transition: all 0.25s ease;
    user-select: none;

    &:not(:first-child) {
      margin-top: 2px;
    }

    &.router {
      line-height: 36px;
      color: #333;
      cursor: pointer;

      &:hover {
        color: #373737;
        background-color: #f6f6f7;
      }
    }

    &.active1 {
      font-size: 14px;
    }

    &.active2 {
      color: #373737;
      background-color: #f6f6f7;
    }

    &.active3 {
      font-size: 17px;
      font-weight: bold;
    }

    &.active4 {
      margin-top: 5px;
      font-size: 13px;
      line-height: 36px;
      color: #999;
    }

    &.active5 {
      padding-left: 30px;
      background-position: left 3px center;
      background-repeat: no-repeat;
      background-size: 16px 16px;
    }

    // &.tentative {
    //   color: #b8b8b8;
    //   cursor: not-allowed;
    //   text-decoration: line-through;
    // }
  }
}
