@import '~@common/css/_variables.scss';
.tags {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0;

  .name {
    font-size: 14px;
    line-height: 1;
    color: #373737;
    border-radius: 30px;
    padding: 7px 20px;
    border: 1px solid #d8d8d8;
    cursor: pointer;

    &:hover {
      background-color: #f2f2f2;
    }

    span {
      font-size: 14px;
      display: inline-block;
      transform: rotate(180deg);
    }
  }

  ul {
    display: flex;

    li {
      color: #676767;
      padding: 4px 10px;
      font-size: 12px;
      cursor: pointer;

      &:hover {
        color: #373737;
      }

      &.active {
        color: $color;
        border-radius: 10px;
        background-color: #fdf5f5;

        &:hover {
          color: $color;
          background-color: #fdf5f5;
        }
      }
    }
  }
}
