$fz12: 12px;
$fz13: 13px;
$fz14: 14px;
$fz16: 16px;
$fz18: 18px;
$fz20: 20px;
$fz22: 22px;
$fz24: 24px;
$fz36: 36px;
$fz48: 48px;

$c333: #333;
$c666: #666;
$c888: #888;
$c999: #999;
$cccc: #ccc;
$cddd: #ddd;
$cfff: #fff;
$cfafafa: #fafafa;
$c353741: #353741;
$cc62f2f: #c62f2f;
$cff4400: #ff4400;
$cff3a3a: #ff3a3a;
$cec4141: #ec4141;

$color: var(--color, #ec4141);

// redVipImageUrl