div,
ul,
li {
  cursor: default;
}

body {
  position: relative;

  &::after {
    position: absolute;
    bottom: 2px;
    right: 2px;
    z-index: 2;
    content: '';
    width: 10px;
    height: 10px;
    background: url("~@images/icon_drag_drop.svg") center center / 10px no-repeat;
  }
}