div,
ul,
li,
p {
  cursor: default;
  user-select: none;
  font-family: 'Segoe UI',
    Tahoma,
    Geneva,
    Verdana,
    sans-serif;
}

body {
  position: relative;

  &::after {
    position: absolute;
    bottom: 2px;
    right: 2px;
    z-index: 2;
    content: '';
    width: 10px;
    height: 10px;
    background: url('~@images/icon_drag_drop.svg') center center / 10px no-repeat;
  }
}


.artists {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;

  li {
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 5px;
    font-size: 12px;
    color: #929292;

    &:hover {
      text-decoration: underline;
    }
  }
}

:global {
  .ant-input:focus {
    border-color: none;
    border-right-width: 1px !important;
    outline: 0;
    box-shadow: none !important;
  }
}