@import '~@common/css/_variables.scss';

.singTag {
  font-size: 12px;
  display: flex;

  .title {
    color: #373737;
    margin: 10px 6px 0;
    line-height: 20px;
    white-space: nowrap;
  }

  ul {
    display: flex;
    flex-wrap: wrap;

    li {
      line-height: 20px;
      color: #676767;
      text-align: center;
      border-radius: 15px;
      margin-top: 10px;
      cursor: pointer;

      &:hover {
        color: #373737;
      }

      &.active {
        color: $color;
        background-color: rgba($color, $alpha: 1);
      }

      &:nth-child(1) {
        width: 44px !important;
      }

      &:not(:last-child) {
        position: relative;
        margin-right: 20px;

        &::after {
          position: absolute;
          top: 50%;
          right: -10px;
          content: '';
          width: 1px;
          height: 10px;
          transform: translateY(-50%);
          background-color: #f2f2f2;
        }
      }
    }
  }
}
