@import '~@common/css/_variables.scss';

.list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  .item {
    display: flex;
    width: calc(33.33% - 13.33px);
    height: 48px;
    margin-bottom: 16px;
    color: #333;
    border-radius: 6px;

    &:hover {
      background-color: #eaeaea;
    }

    &.active {
      background-color: #eaeaea;
    }

    // &:not(:nth-child(-n + 3)) {
    //   margin-top: 16px;
    // }

    .img {
      position: relative;
      height: 48px;
      min-width: 48px;
      cursor: pointer;
      background-repeat: no-repeat;
      background-size: 48px 48px;
      border-radius: 6px;
      background-clip: 4px;

      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 24px;
        height: 24px;
        background: rgba(255, 255, 255, 0.9) url('~@images/icon_play1.png') left 5px top 4px / 17px no-repeat;
        border-radius: 50%;
        content: '';
        transform: translate(-50%, -50%);
      }
    }

    .info {
      display: flex;
      padding: 5px 0 8px 10px;
      overflow: hidden;
      flex-direction: column;
      justify-content: space-between;

      .name {
        overflow: hidden;
        font-size: 14px;
        text-overflow: ellipsis;
        white-space: nowrap;
        // span {
        //   color: #929292;
        //   font-size: 12px;
        // }
      }
    }
  }
}
