.musicList {
  .table {
    margin-top: 6px;
  }

  .tools {
    display: flex;
    padding-left: 23px;
    span {
      &:not(:first-child) {
        cursor: pointer;
      }
    }
    .serial {
      color: #bababa;
      width: 30px;
    }
  }
  .name {
    color: #373737;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;

    p {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding-right: 5px;
    }

    i {
      white-space: nowrap;
      text-align: center;
      margin: 0 2px;
      padding: 2px 4px;
      font-size: 12px;
      width: 32px;
      height: 16px;

      &.vip {
        background: url('~@common/images/vip.png') center center / contain no-repeat;
      }

      &.sq {
        background: url('~@common/images/sq.png') center center / contain no-repeat;
      }

      &.mv {
        width: 42px !important;
        cursor: pointer;
        background: url('~@common/images/mv.png') center center / contain no-repeat;
      }
    }
  }

  .singer {
    color: #656565;
    cursor: pointer;
    padding-right: 5px;

    &:hover {
      color: #000000d9;
      text-decoration: underline;
    }
  }

  .album {
    color: #656565;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .time {
    font-size: 13px;
    color: #9b9b9b;
  }

  .disabled {
    .name {
      color: #ccc;
      &:hover {
        color: #ccc !important;
      }
    }
  }

  .even {
    background-color: #f9f9f9;
  }

  .odd {
    background-color: #ffffff;
  }
  .active {
    background-color: #e5e5e5;
  }

  :global {
    .ant-table {
      font-size: 13px;
    }
    .ant-table-cell {
      border: none;
    }
    .ant-table-thead > tr > th {
      color: #888888;
      background-color: #fff;
      height: 18px;
      .ant-table-column-sorters {
        padding: 7px !important;
      }
    }
    .ant-table-tbody {
      font-size: 12px;
      tr {
        .ant-table-cell {
          padding: 7px !important;
        }
      }
    }
    .ant-table-tbody {
      > tr:hover:not(.ant-table-expanded-row) > td,
      .ant-table-row-hover,
      .ant-table-row-hover > td {
        background-color: #f0f1f2;
      }
    }
    .ant-table-fixed {
      .ant-table-row-hover,
      .ant-table-row-hover > td {
        background-color: transparent;
      }
    }
  }
}
