@import '~@common/css/_variables.scss';

.musicList {
  &:hover {
    .point {
      opacity: 1;
    }
  }

  .point {
    position: fixed;
    right: 30px;
    bottom: 100px;
    z-index: 8;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid $color;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.25s ease;

    &::before,
    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 30px;
      height: 1px;
      background-color: $color;
      content: '';
      transform: translate(-50%, -50%);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }

  padding-bottom: 30px;

  // .table {
  //   margin-top: 6px;
  // }

  .tools {
    display: flex;
    align-items: center;
    height: 3px;
    padding-left: 23px;

    span {
      &:not(:first-child) {
        cursor: pointer;
      }
    }

    .serial {
      width: 30px;
      color: #bababa;
    }
  }

  .name {
    display: flex;
    width: 100%;
    height: 100%;
    color: #373737;
    align-items: center;

    p {
      padding-right: 5px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      span {
        color: #507daf;
      }
    }

    i {
      width: 32px;
      height: 16px;
      margin: 0;
      line-height: 18px;
      text-align: center;
      white-space: nowrap;

      &.vip {
        font-size: 27px;
        color: #fe672e;
      }

      &.sq {
        font-size: 27px;
        color: $color;
      }

      &.mv {
        font-size: 32px;
        color: $color;
        cursor: pointer;
      }
    }
  }

  .singer {
    padding-right: 5px;
    color: #656565;
    cursor: pointer;

    span {
      color: #507daf;
    }

    &:hover {
      color: #000000d9;
      text-decoration: underline;

      span {
        color: #000000d9;
        text-decoration: underline;
      }
    }
  }

  .album {
    overflow: hidden;
    color: #656565;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;

    span {
      color: #507daf;
    }

    &:hover {
      color: #000000d9;
      text-decoration: underline;

      span {
        color: #000000d9;
        text-decoration: underline;
      }
    }
  }

  .time {
    font-size: 13px;
    color: #9b9b9b;
  }

  .disabled {
    .name {
      color: #ccc;

      i {
        color: #ccc !important;
      }

      &:hover {
        color: #ccc !important;
      }
    }
  }

  .even {
    background-color: #f9f9f9;
  }

  .odd {
    background-color: #fff;
  }

  .active {
    background-color: #e5e5e5;

    .name {
      p {
        color: $color !important;
      }
    }
  }

  :global {
    .ant-table {
      font-size: 13px;
    }

    .ant-table-cell {
      border: none;
    }

    .ant-table-thead > tr > th {
      height: 34px;
      color: #888;
      vertical-align: middle;
      background-color: #fff;

      .ant-table-column-sorters {
        padding: 0 7px !important;
      }

      .ant-table-column-sorter {
        opacity: 0;
      }

      &:hover {
        .ant-table-column-sorter {
          opacity: 1;
        }
      }
    }

    .ant-table-tbody {
      font-size: 12px;

      > tr {
        &:hover:not(.ant-table-expanded-row) > td,
        .ant-table-row-hover,
        .ant-table-row-hover > td {
          background-color: #f0f1f2;
        }

        td {
          height: 34px;
          padding: 0 7px !important;
          vertical-align: middle;

          &.ant-table-column-sort {
            background-color: transparent;
          }
        }
      }
    }

    .ant-table-fixed {
      .ant-table-row-hover,
      .ant-table-row-hover > td {
        background-color: transparent;
      }
    }
  }
}
