@import '~@common/css/_variables.scss';

.list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  .item {
    display: flex;
    width: calc(33.33% - 13.33px);
    height: 48px;
    border-radius: 6px;
    color: #333;
    margin-bottom: 16px;

    &:hover {
      background-color: #eaeaea;
    }

    &.active {
      background-color: #eaeaea;
    }

    // &:not(:nth-child(-n + 3)) {
    //   margin-top: 16px;
    // }

    .img {
      position: relative;
      min-width: 48px;
      height: 48px;
      border-radius: 6px;
      background-repeat: no-repeat;
      background-size: 48px 48px;
      background-clip: 4px;
      cursor: pointer;

      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        content: '';
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.9) url('~@images/icon_play1.png') left 5px top 4px / 17px no-repeat;
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 5px 0 8px 10px;

      div {
        &:nth-child(1) {
          font-size: 14px;

          span {
            color: #929292;
            font-size: 12px;
          }
        }

        &:nth-child(2) {
          font-size: 14px;
          font-weight: 200;
        }
      }
    }
  }
}