@import '~@common/css/_variables.scss';

.head {
  display: flex;
  padding: 30px 0;

  .left {
    width: 184px;
    height: 184px;
    min-width: 184px;
    overflow: hidden;
    border: 1px solid #f2f2f2;
    border-radius: 50%;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }

  .right {
    flex: 1;
    padding-left: 20px;

    ul {
      display: flex;
      align-items: center;

      li {
        &:not(:last-child) {
          margin-right: 6px;
        }
      }
    }

    .top {
      padding-bottom: 8px;
      border-bottom: 1px solid #e5e6ea;

      .nickname {
        padding-bottom: 12px;
        font-size: 22px;
        font-weight: bold;
      }

      .topInfo {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .list1 {
          display: flex;
          flex-wrap: wrap;

          li {
            margin-top: 2px;
            margin-bottom: 2px;
            font-size: 12px;
            white-space: nowrap;

            &.identify {
              padding: 2px 6px;
              color: #f0483b;
              background-color: #fde4e2;
              border-radius: 10px;
            }

            &.level {
              height: 16px;
              padding: 2px 6px;
              background-color: #f0f0f0;
              border-radius: 10px;
            }

            &.genderMan {
              width: 16px;
              height: 16px;
              background: url('~@common/svg/gender-man.svg') center center / 16px 16px no-repeat;
            }

            &.genderWomen {
              width: 16px;
              height: 16px;
              background: url('~@common/svg/gender-women.svg') center center / 16px 16px no-repeat;
            }
          }
        }

        .list2 {
          li {
            padding: 0 14px; //  0 14px
            line-height: 30px;
            white-space: nowrap;
            border: 1px solid #d8d8d8;
            border-radius: 30px;

            &.more {
              width: 30px;
              padding: 0;
            }

            &:hover {
              color: #000;
              background-color: #f2f2f2;
            }
          }
        }
      }
    }

    .bottom {
      padding-top: 20px;

      .list3 {
        li {
          &:not(:last-child) {
            position: relative;
            padding-right: 64px;
            margin-right: 0;

            &::before {
              position: absolute;
              top: 10%;
              left: 64px;
              width: 1px;
              height: 90%;
              background-color: #d8d8d8;
              content: '';
            }
          }

          p {
            &:first-child {
              font-size: 18px;
              font-weight: 500;
            }

            &:last-child {
              padding-top: 6px;
              font-size: 12px;
            }
          }
        }
      }

      .list4 {
        display: block;

        li {
          padding-top: 6px;
          font-size: 12px;
          line-height: 20px;

          span {
            overflow: hidden;
            color: #676767;
          }

          &.social {
            display: flex;
            align-items: center;

            span {
              display: inline-block;
              width: 16px;
              height: 16px;
              cursor: pointer;

              &.icon {
                background: url('~@common/svg/weibo.svg') center center / 16px 16px no-repeat;
              }
            }
          }

          &.personal {
            p {
              overflow: hidden;
              color: #676767;

              strong {
                font-size: 14px;
                color: #373737;
              }
            }
          }
        }
      }
    }
  }
}

.userDetail {
  padding-bottom: 40px;

  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;

    p {
      font-size: 14px;
      font-weight: bold;

      span {
        font-size: 12px;
        font-weight: 400;
      }
    }
  }
}
