@import '~@common/css/_variables.scss';

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background: url('../../common/images/logo.svg') left 11px center / 116.8px no-repeat;
  padding-left: 212px;

  &::before {
    position: absolute;
    top: 50%;
    left: 0;
    content: '';
    transform: translateY(-50%);
    width: 36px;
    height: 30px;
    background: $color url('../../common/images/circle.svg') left 2px center/30px no-repeat;
  }

  .left {
    display: flex;
    align-items: center;
    height: 100%;

    .back_group {
      display: flex;
      align-items: center;
      height: 100%;

      p {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        cursor: pointer;
        color: #fff;
        font-size: 9px;
        line-height: 24px;
        text-align: center;
        -webkit-app-region: no-drag;
        background-color: rgba(0, 0, 0, 0.1);

        &:last-child {
          transform: rotate(180deg);
          margin-left: 8px;
        }
      }
    }

    .general_song {
      margin-left: 14px;
      color: #fff;

      p {
        cursor: pointer;
        font-size: 20px;
        -webkit-app-region: no-drag;
      }
    }
  }

  .tool {
    display: flex;
    align-items: center;

    li {
      color: #fff;
      margin: 0 10px;
      font-size: 16px;
      -webkit-app-region: no-drag;
      color: #e9e9e9;

      &:hover {
        color: #fff;
      }

      &.author {
        display: flex;
        align-items: center;
        font-size: 14px;

        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          margin-right: 6px;
          cursor: pointer;
        }

        div {
          display: flex;
          align-items: center;

          p {
            cursor: pointer;
            white-space: nowrap;

            &:nth-child(2) {
              margin-left: 4px;
            }

            &:nth-child(3) {
              font-size: 8px;
              margin-left: 4px;
            }
          }
        }
      }
    }
  }
}

.colorContent {
  position: fixed;
  top: 70px;
  right: 168px;
  z-index: 30;
}
