.find {
  width: 100%;

  .tools {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #9f9f9f;
    margin-left: 11px;
    font-size: 14px;


    :global {
      .ant-btn {
        border: none;
        height: auto;
        outline: none;
        padding: 0;
        color: #507daf;
      }
    }
  }
}


// Title component
.findTitle {
  display: table;

  font-size: 20px;
  font-weight: bold;
  padding: 14px 0;

  span {
    cursor: pointer;
    padding-right: 20px;
    background: url('~@images/icon_arrow_right.png') center right / 16px no-repeat;
  }
}


// playlist
.playlist {
  .boutique {
    display: flex;
    align-items: center;
    width: 100%;
    height: 170px;
    padding: 15px;
    border-radius: 6px;
    background-color: pink;

    img {
      width: 140px;
      min-width: 140px;
      height: 140px;
      border-radius: 6px;
    }

    .info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}