.find {
  width: 100%;

  .tools {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #9f9f9f;
    margin-left: 11px;
    font-size: 14px;


    :global {
      .ant-btn {
        border: none;
        height: auto;
        outline: none;
        padding: 0;
        color: #507daf;
      }
    }
  }
}


// Title component
.findTitle {
  display: table;

  font-size: 20px;
  font-weight: bold;
  padding: 14px 0;

  span {
    cursor: pointer;
    padding-right: 20px;
    background: url('~@images/icon_arrow_right.png') center right / 16px no-repeat;
  }
}