@import '~@common/css/_variables.scss';

.control {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 100%;

  .left {
    width: 250px;
    max-width: 250px;

    .content {
      display: flex;
    }

    img {
      width: 48px;
      min-width: 48px;
      height: 48px;
      margin: 0 12px;
      border-radius: 4px;
    }

    .info {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: calc(100% - 72px);

      div {
        width: 100%;
        color: #313132;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:first-child {
          font-size: 14px;
          display: flex;
          align-items: center;

          p {
            &:first-child {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }

            &:last-child {
              width: 20px;
              min-width: 20px;
              height: 20px;
              font-size: 20px;
              cursor: pointer;
              margin-left: 10px;
            }
          }
        }

        &:last-child {
          font-size: 12px;
        }
      }
    }
  }

  .center {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 416px;

    .btn_group {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      font-size: 10px;

      li {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        margin: 0 15px;
        cursor: pointer;
        border-radius: 50%;
        color: #000;

        &:nth-child(3) {
          width: 36px;
          height: 36px;
          font-size: 16px;
          background-color: #ebebed;
        }
      }
    }

    .progress_box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 6px;
      width: 100%;

      .time {
        color: #9f9f9f;
        font-size: 11px;
      }

      .progress {
        width: 100%;
        margin: 0 6px;

        :global {
          .ant-slider {
            &:hover {

              .ant-slider-rail,
              .ant-slider-step,
              .ant-slider-track {
                height: 5px;
              }
            }

            .ant-slider-rail {
              background-color: #cdcdcd;
            }
          }
        }
      }
    }
  }

  .right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 252px;
    padding-right: 20px;

    .quality {
      color: #373737;
      font-size: 20px;
    }

    .volume {
      display: flex;
      align-items: center;
      width: 56px;
      margin: 0 20px 0 8px;
    }

    .list {
      font-size: 24px;
      color: #373737;
    }
  }

  :global {
    .ant-slider {
      display: flex;
      align-items: center;
      width: 100%;
      height: 10px;
      margin: 0;
      padding: 0;

      &:hover {
        .ant-slider-handle {
          opacity: 1;
        }
      }

      .ant-slider-rail,
      .ant-slider-step,
      .ant-slider-track {
        height: 3px;
      }

      .ant-slider-rail {
        background-color: #e5e5e5;
      }

      .ant-slider-track {
        background-color: $color;
      }

      .ant-slider-handle {
        width: 9px;
        height: 9px;
        margin: 0;
        margin: 0;
        opacity: 0;
        border: none;
        background-color: $color;

        &:focus {
          box-shadow: none;
        }
      }
    }
  }

  .lrc {
    position: fixed;
    bottom: 73px;
    right: 0;
    z-index: 5;
    width: calc(100% - 200px);
    height: 30px;
    overflow: hidden;
    background-color: rgba($color: #F5F5F6, $alpha: 0.9);
    border-top: 1px solid #E1E1E1;

    .content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      transition: all ease 0.5s;

      li {
        font-size: 12px;
        line-height: 30px;
        text-align: center;
      }
    }
  }

  .active {
    color: $color;
  }
}