.nav {
  display: flex;
  height: 64px;
  padding: 20px 0;
  align-items: center;

  &.isFixed {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 20;
    background-color: $cfff;
  }

  &.smell {
    a {
      font-size: 14px;

      &.active {
        position: relative;
        font-size: 14px;
        font-weight: bold;
        line-height: 1;
        color: $c000;
      }
    }
  }

  a {
    font-size: 16px;
    color: $c373737;
    cursor: pointer;
    transition: all 0.25s ease;

    &:not(:first-child) {
      margin-left: 24px;
    }

    &:hover {
      color: $c000;
    }

    &.active {
      position: relative;
      font-size: 20px;
      font-weight: bold;
      line-height: 1;
      color: $c000;

      &::after {
        position: absolute;
        bottom: -10px;
        left: 50%;
        width: 75%;
        border-bottom: 3px solid $color;
        border-radius: 4px;
        content: '';
        transform: translateX(-50%);
      }
    }
  }
}
